<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    
    <!-- layui  -->
    <link rel="stylesheet" href="/public/admin/static/layui/css/layui.css">
    <link rel="stylesheet" href="/public/admin/css/admin.css">
   
</head>
<body>
    
        <div class="layui-card">
            <div class="card-header">
                <div style="margin: 10px 0px 10px 25px;">
                    <span class="spanTitle"><%=title%></span>
                </div>
                <div class="layui-form" style="text-align: right">
                        <div class="layui-row">
                                <div class="layui-inline" style="text-align: left">
                                        <div class="layui-input-inline">
                                            <select id="s_platform_id" lay-filter="s_platform_id">
                                                <option value="0" selected="">所有平台</option>
                                                <% platforms.forEach(function(item){%>
                                                    <option value="<%=item.platform_id %>" ><%=item.platform_id %> -- <%= item.platform_name %></option>   
                                                    <% }) %>
                                            </select>
                                        </div>
                                    </div>       
                            
                            <div class="layui-input-inline" style="width: 160px;">
                                <input type="text" id="s_start_date" lay-verify="date" placeholder="起止时间" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline" >
                                <span>-</span>
                            </div>
                           
                            <div class="layui-input-inline" style="width: 160px;">
                                <input type="text" id="s_end_date" lay-verify="date" placeholder="截止时间" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline" style="width: 250px;margin-left: 5px;">
                                <input type="text" id="s_region"  placeholder="登录地区" class="layui-input">
                            </div>
        
                            <div class="layui-input-inline btm_width_140">
                                    <button type="button" class="layui-btn" id="search">搜索</button>
                                    <button type="button" class="layui-btn" id="export">导出</button>
                            </div>
                        </div>
                    </div>

                <input type="hidden" id="_csrf" value="<%=csrf%>">
                <input type="hidden" id="account_id" value="">
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="tables" lay-filter="tables"></table>
                
            </div>
        </div>



    
   
</body>
<div id="puptables" class="popup">
        <table class="layui-hide"  id="tables1" lay-filter="tables1"></table>
</div>
<script src="/public/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/admin/js/myExcel.js"></script>
<script type="text/javascript" src="/public/admin/js/xlsx.core.min.js"></script>

<!-- layui js -->
<script src="/public/admin/static/layui/layui.js"></script>
<script src="/public/admin/js/tabsIframeClose.js"></script>

<script>
    var form, layer , table , indexPopup ;
        $(function(){
            layui.use(['element','form','layer','table','laydate'], function(){
                form = layui.form;
                table = layui.table;
                layer = layui.layer;
                var laydate = layui.laydate;
                var element = layui.element;
                laydate.render({
                    elem: '#s_start_date',
                    type:"date",
                    format: 'yyyy-MM-dd',
                    value: ''
                });
                laydate.render({
                    elem: '#s_end_date',
                    type:"date",
                    format: 'yyyy-MM-dd',
                    value: ''
                });
                initData(); 
            });


            //搜索
            $("#search").click(function(){
                initData();
            });


        })
        
        //渲染数据（用户登录分析）
        function initData(){
            var timeArr = formatTime()
            tableObj = table.render({
                elem: '#tables',
                title: '用户登录分析', //导出数据时的文件名
                url:'/admin/userManage/userLoginHallManage/list',
                where:{
                    region:$("#s_region").val(),
                    platform_id:$("#s_platform_id").val(),
                    s_start_date:(timeArr[0])?timeArr[0]:$('#s_start_date').val(),
                    s_end_date:(timeArr[1])?timeArr[1]:$('#s_end_date').val(),
                    _csrf:$("#_csrf").val()
                }, //其他请求参数
                page: true,
                limit:10,
                // initSort: {field:'no_region', type:'desc'}, 
                cols: [[
                    {field:'region', title: '登录地区', align:'center'},
                    {field:'no_region', title: '数量', align:'center',sort: true,
                        templet:function(row){
                            return `<a href='#' style ='color:red' onclick="getUserLoginList('${row.region}')">${row.no_region}</a>`;
                        }
                    },
                    {field:'percentage', title: '占比%', align:'center',sort:true,
                        templet: function(row){                              
                            return parseFloat(row.percentage).toFixed(2)+"%"
                                 
                    }
                    },
                ]],
            });
        }

        //弹出表格（会员登录列表）
        function getUserLoginList(region) {
            var puptable = layer.open({
                type:1,
                shade: false,
                title: '会员登录列表',
                maxmin: true,
                content:$('#puptables'),
                area: ['100%', '100%'],
                cancel: function(){ 
                
                    layer.close(puptable)
                }    
                
            })
            layer.ready(function(){
                initData1(region);

            });  
        }
        //渲染数据（会员登录列表）
        function initData1(region){
            var timeArr = formatTime();
            tableObj1 = table.render({
                elem: '#tables1',
                title: '会员登录列表', //导出数据时的文件名
                url:'/admin/userManage/userLoginHallManage/userLoginList',
                where:{
                    region:region,
                    s_start_date:(timeArr[0])?timeArr[0]:$('#s_start_date').val(),
                    s_end_date:(timeArr[1])?timeArr[1]:$('#s_end_date').val(),
                    platform_id:$("#s_platform_id").val(),
                    // agent_id: $("#account_id").val(),
                    _csrf:$("#_csrf").val()
                }, //其他请求参数
                page: true,
                limit:5,
                limits:[5,10,15,20],
                cols: [[
                    {field:'region', title: '地区', align:'center'},
                    {field:'user_id', title: '会员ID', align:'center',sort: true},
                    {field:'username', title: '会员账号', align:'center'},
                    {field:'login_time', title: '登录时间', align:'center',sort: true,width:160},
                    {field:'createdate', title: '注册时间', align:'center',sort: true,width:160,templet: function(row){
                        // console.log(row.user_account.createdate);
                        return (row.user_account && row.user_account.createdate)? row.user_account.createdate:'';
                    }},
                    {field:'ip', title: '登录IP', align:'center'},
                ]]
            });
        }
        //导出文件
        $("#export").click(function(){
                let data = {
                    region:$("#s_region").val(),
                    platform_id:$("#s_platform_id").val(),
                    s_start_date:(timeArr[0])?timeArr[0]:$('#s_start_date').val(),
                    s_end_date:(timeArr[1])?timeArr[1]:$('#s_end_date').val(),
                    _csrf:$("#_csrf").val()
                };
                let url = '/admin/userManage/userLoginHallManage/export';
                let xhr = new XMLHttpRequest();
                    xhr.open('post', url, true);
                    xhr.setRequestHeader("Content-Type", "application/json");
                    data = JSON.stringify(data);
                    xhr.responseType = "blob"; // 返回类型blob，XMLHttpRequest支持二进制流类型
                    xhr.onload = function() {
                        if (this.status === 200) {  
                            let blob = this.response; //使用response作为返回，而非responseText
                            let reader = new FileReader();
                            reader.readAsDataURL(blob); // 转换为base64，可以直接放入a标签href
                            reader.onload = function(e) {
                            // 转换完成，创建一个a标签用于下载
                            let a = document.createElement("a");
                            a.download = "会员登录分析.xlsx";
                            a.href = e.target.result;
                            a.click();
                            layer.msg('下载成功');
                            };
                        } else {
                            layer.msg('下载失败');
                        }
                    };
                    xhr.send(data);
            });
        //格式化时间
        function formatTime(){
            var date1 =new Date(new Date(new Date().toLocaleDateString()).getTime());
            if(!$("#s_start_date").val()){                
                var s_start_date =date1.getFullYear() + "-" + ((date1.getMonth() + 1) < 10 ? "0" + (date1.getMonth() + 1):(date1.getMonth() + 1))+ "-" + (date1.getDate() < 10 ? "0" + date1.getDate():date1.getDate());
                $('#s_start_date').val(s_start_date);
            }
            if(!$("#s_end_date").val()){
                var s_end_date =date1.getFullYear() + "-" + ((date1.getMonth() + 1) < 10 ? "0" + (date1.getMonth() + 1):(date1.getMonth() + 1))+ "-" + (date1.getDate() < 10 ? "0" + date1.getDate():date1.getDate());
                $('#s_end_date').val(s_end_date);
            }
            return timeArr= [s_start_date,s_end_date]
        }

</script>
</html>